.header {
  text-align: center;
  padding: 2em 0 0 0;
}
.header img {
  max-height: 160px;
}

.header h1 {
  font-size: 1.4em;
  font-weight: 300;
  margin:.9em 0 .2em 1;
}

.container {
  width:80%;
}

li.gitlab:hover a, li.gitlab:hover i{
  transition: .3s;
  color: #ffa000;
}

li.github:hover a, li.github:hover i{
  transition: .3s;
  color: #212121;
}

li.linkedin:hover a, li.linkedin:hover i{
  transition: .3s;
  color: #2196f3;
}

li.twitter:hover a, li.twitter:hover i {
  transition: .3s;
  color: #40c4ff;
}

li.quora:hover a, li.quora:hover i {
  transition: .3s;
  color: #b71c1c;
}

li.curriculum:hover a, li.curriculum:hover i {
  transition: .3s;
  color: #ff4081;
}

.quote {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  margin:.2em 0 .2em 1;
}

.footer-card {
  position:absolute;
  bottom:0;
}

.header nav {
  display: inline-block;
  box-shadow: none;
  margin-top:15px;
  width:100%;
}

.header ul{
  display: inline-block;
}

.avatar {
  border:6px solid rgba(255, 255, 255, 0.8);
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

span.badge.new {
  font-size: 1rem;
  display: inline-block;
  margin: .1em 0 .6em;
  text-align:center;
  float:none;
  border-radius:5px;
}

.card img {
    max-height: 200px;
    object-fit: cover;
    object-position:100% 20%;
}

.card.medium .card-image{
  overflow:inherit;
}

.card.medium .card-content{
  overflow:scroll;
}

.experience {
  max-height: 200px;
  object-fit: cover;
  object-position:100% 100%;
}

.card img.materialized.active {
    max-height: none;
    object-fit: none;
}

.achievement {
  padding-top: 4rem;
}
